<h2>Employers</h2>

<div class="actions">
  <a mat-raised-button color="primary" [routerLink]="['/employers/new']">
    Add Employer
  </a>
</div>

@if (loading) {
  <p>Loading employers...</p>
} @else {
  @if (employers.length > 0) {
    <table mat-table [dataSource]="employers" class="mat-elevation-z2">

      <ng-container matColumnDef="companyName">
        <th mat-header-cell *matHeaderCellDef> Company </th>
        <td mat-cell *matCellDef="let row"> {{ row.companyName }} </td>
      </ng-container>

      <ng-container matColumnDef="contactEmail">
        <th mat-header-cell *matHeaderCellDef> Email </th>
        <td mat-cell *matCellDef="let row"> {{ row.contactEmail }} </td>
      </ng-container>

      <ng-container matColumnDef="location">
        <th mat-header-cell *matHeaderCellDef> Location </th>
        <td mat-cell *matCellDef="let row"> {{ row.location }} </td>
      </ng-container>

      <ng-container matColumnDef="jobs">
        <th mat-header-cell *matHeaderCellDef> Jobs </th>
        <td mat-cell *matCellDef="let row">
          {{ getJobsCount(row) }}
        </td>
      </ng-container>

      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef> </th>
        <td mat-cell *matCellDef="let row">
          <a
            mat-button
            [routerLink]="['/employers', row._id]">
            View
          </a>
          <button
            mat-button
            color="warn"
            (click)="deleteEmployer(row._id)">
            Delete
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  } @else {
    <p>No employers found.</p>
  }
}
