<div class="login-page">
  <mat-card class="login-card">
    <h2 class="login-title">Login</h2>

    <form [formGroup]="form" (ngSubmit)="onSubmit()" class="login-form">

      <!-- Email -->
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Email</mat-label>
        <input matInput formControlName="email" type="email" autocomplete="email" />

        @if (email?.hasError('required') && email?.touched) {
          <mat-error>Email is required</mat-error>
        } @else if (email?.hasError('email') && email?.touched) {
          <mat-error>Please enter a valid email</mat-error>
        }
      </mat-form-field>

      <!-- Password -->
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Password</mat-label>
        <input
          matInput
          [type]="hidePassword ? 'password' : 'text'"
          formControlName="password"
          autocomplete="current-password"
        />

        <button
          mat-icon-button
          matSuffix
          type="button"
          (click)="hidePassword = !hidePassword"
          [attr.aria-label]="hidePassword ? 'Show password' : 'Hide password'"
        >
          <mat-icon>{{ hidePassword ? 'visibility' : 'visibility_off' }}</mat-icon>
        </button>

        @if (password?.hasError('required') && password?.touched) {
          <mat-error>Password is required</mat-error>
        } @else if (password?.hasError('minlength') && password?.touched) {
          <mat-error>Password must be at least 6 characters</mat-error>
        }
      </mat-form-field>

      <!-- Role Selector -->
      <div class="full-width role-section">
    
        <mat-radio-group formControlName="role" class="role-options">
          <mat-radio-button class="role-option" value="jobseeker">Jobseeker</mat-radio-button>
          <mat-radio-button class="role-option" value="employer">Employer</mat-radio-button>
          <mat-radio-button class="role-option" value="admin">Admin</mat-radio-button>
        </mat-radio-group>
      </div>

      <!-- Error message -->
      @if (error) {
        <p class="error-text">{{ error }}</p>
      }

      <!-- Submit button -->
        <button
        mat-raised-button
        color="primary"
        class="full-width"
        type="submit"
        [disabled]="loading || form.invalid"
        >
        @if (!loading) {
            Login
        } @else {
            <mat-spinner diameter="20"></mat-spinner>
        }
        </button>

      <!-- Google -->
      <button mat-stroked-button type="button" class="full-width" (click)="onGoogleLogin()">
        <mat-icon>login</mat-icon>
        Continue with Google
      </button>
      <a routerLink="/register" class="register-link">
        Don't have an account? Register here.</a>
    </form>
  </mat-card>
</div>
